@import "tailwindcss";

@theme {
  --color-desertnight: #2d2d2d;
  --color-purplepink: #ddb5f4;
  --color-sand: #ffefcc;
  --color-mutedsand: #b9ac90;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2d2d2d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "KirangHaerang";
  src: url("/fonts/KirangHaerang-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
